@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;

<h1>Sample MVC client</h1>
<p>Application links:</p>
<ul>
	<li><a asp-controller="Home" asp-action="Index">Index page</a></li>
	<li><a asp-controller="Home" asp-action="Secret">Secret page</a></li>
	<li><a asp-controller="Home" asp-action="Logout">Logout</a></li>
</ul>

@RenderBody()

<h1>Authentication Info</h1>
<p><b>User logged in?</b> @User.Identities.Any(id => id.IsAuthenticated)</p>
<p>
	<b>Claims:</b>
	@if (User.Claims?.Count() > 0)
	{
		<table>
			<tbody>
				@foreach (var claim in User.Claims)
				{
					<tr>
						<td>@claim.Type</td>
						<td>@claim.Value</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<span>empty.</span>
	}
</p>